@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (pointer: fine) {
  body, a, button, .cursor-pointer {
    cursor: none !important;
  }
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
